<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="icon" href="https://p.kindpng.com/picc/s/185-1854115_transparent-cloudy-clipart-weather-icon-black-and-white.png" size="16x16">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="mydiv">
    <h1>Enter the city name:</h1>
 <form action="/" method="POST">
     <label for="cityname">City Name: </label>   
     <input type="text" name="cityname" value="">
     <button type="submit"  >Submit</button>
    </form>
</div>
<div id="myVdiv">
<h2>The weather in <u><%=place%></u> is <%=weather%></h2>
<h2>The temperature in <%=place%> is  <%=temperature%>*C</h2>
<div class="icon">
<img src="<%=imgURL%>">
</div>
</div>
<!-- <script>
    function myFunction(){
    document.getElementById("myVdiv").style.display="block";
    }
</script> -->
 

</body>

</html>
